[/- include ("partials/header") /]

<!-- <main> -->
  <div class="container p-5 w-50 h-50 text-center">
    <div class="secrets-info h-75 d-flex flex-column justify-content-end">
      <i class="fa-solid fa-key fa-5x m-2 text-black"></i>
      <h1 class="fw-bold">Secrets</h1>
      <p>Don't keep your secrets</p>
    </div>
    <hr>
    <div class="buttons row g-3 justify-content-center">
      <div class="col col-md-4 col-xl-2">
      <a href="register" class="btn bg-white w-100">Register</a>
      </div>
      <div class="col col-md-4 col-xl-2">
      <a href="login" class="btn bg-black text-white w-100">Login</a>
      </div>
    </div>
  </div>
<!-- </main> -->

[/- include ("partials/footer") /]
