[/- include('partials/header') /]

  <div class="container p-5 position-relative">
    <div class="popUp position-absolute top-0 start-0 text-white text-center w-100 p-3"></div>
    <div class="title">
      <h1>Login</h1>
      <p>Welcome back!! </p>
    </div>
    <form action="login" method="post" class="form row g-3">
      <div class="form-floating">
        <input type="email" name="email" id="email" class="form-control" placeholder=" " />
        <label for="email">Email</label>
      </div>
      <div class="form-floating">
        <input type="password" name="Password" id="Password" class="form-control" placeholder=" " />
        <label for="Password">Password</label>
      </div>
      <input type="submit" value="Create Account" class="btn bg-primary text-white" />
    </form>
  </div>
  <script>
    $(".popUp").hide()
    if ([/= typeof invalidPwd !== 'undefined' /]) {
      $(".popUp")
        .html("Invalid user credentials! Please try again...")
        .css('background-color', 'red')
        .fadeIn(500).delay(2000).fadeOut(200)
    }
    if ([/= typeof profileExists !== 'undefined' /]) {
      $(".popUp")
        .html("Account exists already. Please login")
        .css('background-color', '#0d6efd')
        .fadeIn(500).delay(2000).fadeOut(200)
    }
    if ([/= typeof isAccountCreated !== 'undefined' /]) {
      $(".popUp")
        .html("Account created successfully. Please login")
        .css('background-color', 'green')
        .fadeIn(500).delay(2000).fadeOut(200)
    }
  </script>

  [/- include('partials/footer') /]