* {
  box-sizing: border-box;
}

html,
body {
  display: grid;
  place-items: center;
}

@keyframes tilt {
  0% {
    scale: 1;
    rotate: 0deg;
  }
  33% {
    scale: 1.1;
    rotate: 10deg;
  }
  66% {
    scale: 1.1;
    rotate: -10deg;
  }
  100% {
    scale: 1;
    rotate: 0deg;
  }
}

.fa-key {
  animation: tilt 300ms ease-in-out 1s;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}